# Warning: Do not add secrets (API keys and similar) to this file, as it source controlled!
# Use `.env.local` for any secrets, and ensure it is not added to source control

NEXT_PUBLIC_SANITY_PROJECT_ID = ""
NEXT_PUBLIC_SANITY_DATASET = ""

NODE_ENV = ""
TOKEN_SECRET = ''

FIB_CLIENT_ID = ''
FIB_CLIENT_SECRET = ''
FIB_REDIRECT_URI = 'http://localhost:3000/api/auth/callback/fib'
FIB_AUTH_URL = 'https://api.fib.upc.edu/v2/o/authorize'
FIB_TOKEN_URL = 'https://api.fib.upc.edu/v2/o/token'
